body {
    background-color: #0D1321; /* Dark background */
    color: #F0EBD8; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1D2D44; /* Dark header background */
    color: #F0EBD8;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #F0EBD8;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #748CAB;
}

.section {
    padding: 40px;
}

h1 {
    color: #3E5C76;
    text-align: center;
}

a {
    color: #3E5C76;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #748CAB;
}

footer {
    background-color: #1D2D44;
    color: #F0EBD8;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}


.project-container {
    display: flex; /* Display the images horizontally */
    align-items: center; /* Align vertically centered */
}


.project-container img {
    max-width: 400px; /* Limit the image width */
    margin: 0 10px; /* Add some spacing between the images */
}


.project-container img:hover {
    transform: scale(1.05);
}

.photo img:hover {
    transform: scale(1.1);
}

.photo img:focus {
    transform: scale(1.1);
}
.photo-gallery {
    text-align: center;
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.photo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.photo img {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #aaa;
    transition: transform 0.2s;
}

.photo:hover {
    transform: scale(1.05);
}
.tools {
    max-height: 40px; /* Limit the image width */
    margin: 0 10px;
}

